@font-face {
    font-family: GothamBlack;
    src: url(../fonts/Gotham-Black.otf); }

@font-face {
    font-family: GothamBold;
    src: url(../fonts/Gotham-Bold.otf); }

@font-face {
    font-family: GothamLight;
    src: url(../fonts/Gotham-Light.otf); }

@font-face {
    font-family: GothamMedium;
    src: url(../fonts/Gotham-Medium.otf); }

@font-face {
    font-family: GothamThin;
    src: url(../fonts/Gotham-Thin.otf); }

@font-face {
    font-family: GothamBook;
    src: url(../fonts/Gotham-book.ttf); }

body {
    background-color: rgba(50, 50, 50, 0.8);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: GothamBook, sans-serif;
    font-weight: 300; }

header {
    text-align: center;
    margin-bottom: 1.5em;
}

footer {
    position: fixed;
    height: 40px;
    width: 100%;
    line-height: 3.5em;
    background-color: rgba(255, 104, 0, 0.7);
    bottom: 0px;
    text-align: center;
    font-size: 12px;
}

.secondary-nav {
    width: 100%;
    height: 3em;
    line-height: 3em;
    text-align: left;
    color: #000;
}

nav.secondary-nav {
    width: 100%;
    margin-left: 20px;
    height: 3em;
    line-height: 3em;
    text-align: left; }

nav.secondary-nav img {
    margin-top: 0.5em;
    height: 1.75em;
    width: auto;
    border-radius: 50%; }

nav.secondary-nav a {
    vertical-align: top;
    color: #000;
    padding: 0 5px;
    font-size: 0.9em;
    font-family: GothamLight, sans-serif; }

nav.secondary-nav a:hover {
    /*border-bottom: 1.5px solid #ff6800;*/
    border-left: 1.5px solid #ff6800;
    border-right: 1.5px solid #ff6800;

    color: rgba(255, 104, 0, 0.6);
}

nav.secondary-nav #link_profile {
    border-right: 1px solid white; }

nav.primary-nav {
    font-size: 20px;
    position: absolute;
    width: 100%;
    display: block;
    top: 12em;
}

nav.primary-nav li {
    display: inline-block;
    border-right: 1.5px solid #000;
    padding: 0 3%;
}

nav.primary-nav li a {
    color: #000;
    -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out;
}

nav.primary-nav li a:hover {
    border-bottom: 1.5px solid #ff6800;
    color: rgba(255, 104, 0, 0.6);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

nav.primary-nav li:last-child {
    border-right: none;
}

#particles-js{
    width: 100%;
    height: 25em;
    background-color: #323232;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
