
.first-col img {
    width: 100%;
    /*margin-left: 20px;*/
}

a {
    color:black;
}

h2 {
    text-align: left;
    font-size: 2em;
    font-family: GothamMedium;
}

h4 {
    color: gray;
    font-size: 9px;
}

h6 a:hover {
    color: #ff6800;
    /*border-bottom: 1px solid #ff6800;*/
}

a.comLink {
    color: #323232;
}

a.comLink:hover {
    color: #ff6800;
}

.like, .cross {
    font-size: 18px;
}

.fa:hover, .fa.active:hover {
    color: rgba(255, 104, 0, 0.5);
    cursor: pointer;
}

.like.active {
    color: #ff6800;
}

.first-col {
    width: 48%;
    /*border-right: 1px solid black;*/
    float: left;
    margin-right: 10px;
}

.sec-col {
    width: 48%;
    margin-left: 10px;
    float: left;
}

.like-icon {
    width: 30px;
    height: auto;
}

a.svg {
    position: relative;
    display: inline-block;
}

a.svg:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#delButton {
    background-color: transparent;
}

#formComment {
    margin-top: 3px;
    border: 2px solid gray;
    border-radius: 2px;
    padding: 3px;
}

#formComment input {
    height: 20px;
    width: 75%;
    font-size: 16px;
    background-color: #525252;
}

#formComment button {
    color: #ff6800;
    background-color: transparent;
    border: 1px solid #ff6800;
    width: 24%;
    height: 20px;
    float: right;
}

#formComment button:hover {
    color: black;
    background-color: #ff6800;
    cursor: pointer;
}

form input {
    vertical-align: bottom;
}

#comments {
    word-wrap:break-word;
    height: 250px;
    overflow-y: scroll;
    border: 1px solid black;
    padding: 4px;
    font-size: 14px;
}