
img {
    width: 100%;
    margin-left: 20px;
}

a {
    color:black;
}

h6 {
    border-bottom: 1px solid #000;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

.like {
    font-size: 18px;
}

.like:hover, .like.active:hover {
    color: rgba(255, 104, 0, 0.5);
    cursor: pointer;
}

.like.active {
    color: rgb(255, 104, 0);
}

.left-col {
    width: 48%;
    margin-right: 20px;
    float: left;
}

.right-col {
    width: 48%;
    margin-left: 20px;
    float: left;
}

.like-icon {
    width: 30px;
    height: auto;
}

a.svg {
    position: relative;
    display: inline-block;
}

a.svg:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.empty {
    height: 50px;
    width:100%;
    clear:both;
}