.holder {
    width: 960px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}

.holder h1 {
    border-bottom: 1px solid #000;
    margin-bottom: 0.8em;
    padding-bottom: 0.5em;
    font-size: 1.5em;
    margin-top: 1em;
}

.holder form {
    padding: 30px;
    display: inline-block;
    line-height: 20px;
    width: 500px;
    margin: 0 auto;
    font-size: 16px;
}

.holder form label {
    width: 48%;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    color: #000;
}

.holder form input {
    width: 48%;
    font-size: 16px;
    text-align: center;
    background-color: #525252;
}

.holder form .toSubscribe {
    margin-top: 2em;
    text-align: center;
}

.holder form .toSubscribe a {
    color: #000;
}

.holder form .toSubscribe a:hover {
    color: #ff6800;
}


#errors {
    color: rgba(255, 0, 0, 0.7);
    width: 290px;
    font-size: 14px;
    text-align: left;
    margin: 0 auto;
    margin-top: 20px;
}

.button{
    cursor: pointer;
    position: relative;
    display:block;
    background: transparent;
    width:200px;
    height:60px;
    line-height:60px;
    text-align:center;
    font-size:15px;
    text-decoration:none;
    text-transform:uppercase;
    margin:40px auto;
}

.orange{
    color: rgba(255, 104, 0, 0.7);
}

.button:before, .button:after {
    width:200px;
    left: 0px;
    height:27px;
    z-index: -1;
}

.orange:before,.orange:after {
    border: 3px solid rgba(255, 104, 0, 0.7);
}

.button:before{
    position: absolute;
    content: '';
    border-bottom: none;
    -webkit-transform: perspective(15px) rotateX(5deg);
    -moz-transform: perspective(15px) rotateX(5deg);
    transform: perspective(15px) rotateX(5deg);
}

.button:after{
    position: absolute;
    top: 32px;
    content: '';
    border-top: none;
    -webkit-transform: perspective(15px) rotateX(-5deg);
    -moz-transform: perspective(15px) rotateX(-5deg);
    transform: perspective(15px) rotateX(-5deg);
}

.orange:hover:before, .orange:hover:after {
    background: #ff6800;
}

.button:hover{
    color:#000;
}
