.img-user {
    width: 100%;
    border-radius: 50%;
    max-width: 300px;
    height: auto;
}

h1 {
    text-align: center;
}

h2 {
    text-align: left;
    font-size: 2em;
    font-family: GothamMedium;
}

h6 {
    border-bottom: 1px solid #000;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
}

p {
    font-family: GothamLight;
    font-size: 0.9em;
    margin-bottom: 1em; }

.img-holder {
    height: 500px;
    overflow-y: scroll;
    margin-top: 20px;
}

.img-holder img {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    max-width: 100%;
    max-height: 100%;
}

.img-holder .image {
    /*margin-right: 6px;*/
    /*margin-left: 6px;*/
    margin-bottom:10px;
    overflow: hidden;
}

@media only screen and (min-width: 768px) {
    .img-holder .image {
        height: 87px;
    }
}

@media only screen and (min-width: 992px) {
    .img-holder .image {
        height: 121px;
    }
}

@media only screen and (min-width: 1200px) {
    .img-holder .image {
        height: 152px;
    }
}

img.grayscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
    -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
    /*-moz-transition: all ease 4s 3s; !* Fade to color for Mozilla *!*/
    -webkit-backface-visibility: hidden;
    /*-moz-backface-visibility: hidden;*/
}

img.grayscale:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}