
.link {
    text-align: center;
}

.link a {
    font-size: 0.8em;
    color: #000;
}

.link a:hover {
    color: #ff6800;
}

.confirm-div {
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

.confirm-div.error {
    color: red;
    border: 1px solid red;
}

.confirm-div.ok {
    color: green;
    border: 1px solid green;
}

#errors {
    color: rgba(255, 0, 0, 0.7);
    font-size: 14px;
    text-align: left;
    margin-top: 20px;
}

.connect-form {
    text-align: center;
}

input {
    height: 20px;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    background-color: #525252;
    margin: 10px 0;
}
